<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="com.miniivi.car.permission.CONTROL" />
    <uses-permission android:name="com.miniivi.maps.permission.BIND_MAP_PREVIEW" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.miniivi.maps" />
    </queries>

    <application
        android:name=".LauncherApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarLauncher">
        <activity
            android:name=".feature.dashboard.presentation.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.media.presentation.MediaActivity"
            android:exported="false" />
        <activity
            android:name=".feature.bluetooth.presentation.BluetoothActivity"
            android:exported="false" />
    </application>
</manifest>
